/* 
    Created on : 8 nov. 2016, 22:22:38
    Author     : nyko
*/

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header {
    margin: 20px;
}

header h1 {
    color: gray;
    font-size: 2.5em;
}

wrapper {
    
}

#controls {
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #888888;
}

#controls input {
    margin: 2px;
}

/* Style du Billard */
#billard {
    margin: 10px;
    background-color: greenyellow;
    border: 1px solid black;
}


